version: "3.9"
services:
  app: 
    build: ./infra/php
    volumes:
      - ./src:/datas

  # 餈質
  web:
    image: nginx:1.20-alpine
    ports:
      - 8080:80
    volumes:
      - ./src:/datas
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /datas

    # 餈質
  db:
    build: ./infra/mysql
    volumes:
      - db-store:/var/lib/mysql

volumes:
  db-store: